name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  simple-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: davidB/rust-cargo-make@v1
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run: sudo apt-get update
          && sudo apt-get install -y g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev

      - name: Build
        run: cargo make build

      - name: Run checks
        run: cargo make validate

  integration-tests:
    runs-on: windows-latest
    steps:
      - uses: davidB/rust-cargo-make@v1
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2

      - name: Run integration tests
        run: cargo make integration_test

      - name: Save artefacts
        uses: actions/upload-artifact@v3
        with:
          name: integration-test-artefacts
          path: bitt/artefacts
